//
   Created by MaoX on 2016/3/11.

extends header

block content
    for item in articles
        p
            h2
                a(href="/article/#{item._id}") #{item.title}
            a(href="/u/#{article.author}")
                img.r_head(src="#")
        p.info
            | 作者：
            a(href="/u/#{item.author}") #{item.author}
            | &nbsp;| 日期：#{moment(item.meta.createAt).format('lll')}
            | &nbsp;| 标签：
            for tag in article.tags
                if tag
                    a.tag(href="/tags/#{tag}") #{tag}
        p !{markdown.toHTML(item.content)}
        p.info 阅读：#{article.pv} | 评论：#{article.comments.length}
    include paging